#camera_wrap_1 {
    margin-bottom: 0 !important;
    margin-top: 10px;
}
/*
.camera_caption h2 {
    border-bottom: 4px solid #1fcdff;
    font-family: "Open Sans",sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -2px;
}*/